<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915968289302-2b68scbv3q30cdf2cur58u5j9d8t79cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915968289302-2b68scbv3q30cdf2cur58u5j9d8t79cs</string>
	<key>API_KEY</key>
	<string>AIzaSyA58_irIw2Z2KRKb4QC7bFQv6yUU9HCdhw</string>
	<key>GCM_SENDER_ID</key>
	<string>915968289302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyemzzzy.FireStoreBasic</string>
	<key>PROJECT_ID</key>
	<string>firestore-a3d69</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-a3d69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915968289302:ios:47c754cf7db4974eca6337</string>
</dict>
</plist>